<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @contact.client_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @contact.phone %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @contact.client_id %>
</p>

<%= link_to 'Voltar', client_contacts_path, class: "btn btn-secondary btn-sm active"  %></td>
 

